/*GERAL*/
body{
   background-color:#9FB6CD;
    margin:0;
    padding:0; 
}

#tudo{
    background-color:white;
    width:750px;
    height:100%;
    margin:0 auto;
    border-style:solid;
    border-width:5px;
    border-color:#CFCFCF;
    font-family:verdana, tahoma, arial;
    font-size:11px;
}

#tudo1{
    background-color:white;
    width:750px;
    height:90%;
    margin:0 auto;
    border-style:solid;
    border-width:1px;
    border-color:#CFCFCF;
    font-family:'Calibri';
    font-size:10px;
    line-height:20px;
}

#conteudo{
    /*width:675px;
    height:450px;*/
    margin:40px;
    margin-bottom:15px;
    padding:20px;
    border: 1px solid #CFCFCF;
    border-radius: 9px 9px 9px 9px;
}
#rodape{
    font-family:verdana, tahoma, arial;
    font-size:xx-small;
    text-align:center;
    width:700px;
    margin:0 auto;
}

/*MENU*/
#menu ul{
    list-style:none;

}
#menu a{
    background-color: #436EEE;
    border: 1px solid #B0E2FF;

    text-decoration:none;

    font-size: 11px;
    color: #fff;
    font-weight:bold;

    position:relative;
    float:left;

    width: 100px;
    height:20px;
    padding: 10px;
    text-align: center;
}
#menu a:hover{
    background-color:#C6E2FF;
    color: #4876FF;
}
#menu #ativo a{
    background-color:#C6E2FF;
    color: #4876FF;
}
/*FIM DO MENU*/


/*DEFINIÇÃO DOS BOTÕES*/
#botao ul{
    list-style:none;
}
#botao a{
    background-color: #436EEE;
    border: 1px solid #B0E2FF;

    text-decoration:none;

    font-size: 11px;
    color: #fff;
    font-weight:bold;

    position:relative;
    float:left;

    width: 100px;
    padding: 5px;
    text-align: center;
}
#botao a:hover{
    background-color:#C6E2FF;
    color: #4876FF;
}
#botao #ativo a{
    background-color:#C6E2FF;
    color: #4876FF;
}
/*FIM DAS CONFIGURAÇÕES DO BOTÃO*/


#login{
    margin-left:10px;
    width:55px;
    background-color:#B5B5B5;
}

#login1{
    margin-left:10px;
}

/*
 * ESTILO DOS FORMULÁRIOS
*/

label{
    float: left;
    width: 120px;
}
input, textarea{
    margin-bottom: 5px;
}
.boxes{
    width: 1em;
}
#submitbutton{
    margin-left: 120px;
    margin-top: 5px;
    width: 90px;
}
#resetbutton{
    margin-left: 5px;
    margin-top: 5px;
    width: 90px;
}
/**/

/*
 * FORMATAÇÃO DAS TABELAS
*/

.tb{
    width:400px;
    font-size:11px;
}
.tbHeader{
    color:white;
    background-color:#436EEE;
    border:1px dotted #000;
    font-weight:bold;
    padding:5px;
}
.tbDetail1{
    border:1px dotted #000;
    background-color:#E8E8E8;
}
.tbDetail2{
    border:1px dotted #000;
    background-color:#FFFFFF;
}


#alerta{
    font-size:18px;
    color:white;
    background-color:red;
    padding:20px;
    text-align:center;
}

#mensagem{
    font-size:18px;
    padding:20px;
    text-align:center;
    color:darkslategrey;
    background-color:#E8E8E8;
}

#tab{
    margin-left:30px;
}

#ass{
    float:left;
    padding:0px 0px 10px 30px;
}

#ass1{
    float:left;
    padding:40px 0px 10px 20px;
}

#linha{
    border-top:1px solid #000;
    padding:10px;
}

#float{
    text-align:center;
    float:left;
    margin-right:90px;
    margin-top: 20px;
}