<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletColeta</servlet-name>
        <servlet-class>Servlets.ServletColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReacoes</servlet-name>
        <servlet-class>Servlets.ServletReacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControleEntrega</servlet-name>
        <servlet-class>Servlets.ServletControleEntrega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorios</servlet-name>
        <servlet-class>Servlets.Relatorios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletColeta</servlet-name>
        <url-pattern>/ServletColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReacoes</servlet-name>
        <url-pattern>/ServletReacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControleEntrega</servlet-name>
        <url-pattern>/ServletControleEntrega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorios</servlet-name>
        <url-pattern>/Relatorios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
