<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".asp" mimeType="text/html" />
        </staticContent>
	</system.webServer>
	<system.web>
		<compilation debug="true" />
        <identity impersonate="true" /></system.web></configuration>
