/* Gallery Styles */


#motioncontainer a img {
border:2px solid #CCC;
filter:alpha(opacity=40);
-moz-opacity: 0.4;
opacity: 0.4;
-khtml-opacity: 0.4;
background:#FFF;
margin-top:15px;
}

#motioncontainer a:hover img {
border:2px solid #FD9A00;
filter:alpha(opacity=150);
-moz-opacity: 1.5;
opacity: 1.5;
-khtml-opacity: 1.5;
}

#statusdiv {
background-color: lightyellow;
border: 1px solid gray;
padding: 2px;
position: absolute;
left: -300px;
visibility: hidden;
}
/* End Gallery Styles */
