.galleria{list-style:none;width:200px}
.galleria li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 10px 10px 0}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */
.ul_galeria_producao{
	margin:0 auto;
	width:702px;
	list-style:none;
}

.ul_galeria_producao li{
	float:left;
	border:1px solid #CCCCCC;
	height:50px;
	margin:0pt 2px;
	width:68px;
}

.ul_galeria_producao li img{
	float:left;
	height:50px;
	width:68px;
	cursor:pointer;
}